<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="sld-fabric" value="https://lautereck.pkgs.visualstudio.com/Fabric/_packaging/sld-fabric/nuget/v3/index.json" />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
	</packageSources>
</configuration>
